.custom-loading-svg .el-loading-mask > .el-loading-spinner > .circular {
  animation: none;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media only screen and (min-width: 310px) and (max-width: 568px){
  body {
    display: flex;
    place-items: center;
  }
  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 0;
    font-size:0.3em;
  }

}
@media only screen and (min-width: 310px) and (max-width: 1470px){
  .el-card-home:nth-child(1n) {
    margin-right: 1rem;
  }
  .updatepassword{
    //移除原先的宽度，设置为固定宽度
    min-width: 300px !important;
  }
  .updateInfo{
    //移除原先的宽度，设置为固定宽度
    min-width: 300px !important;
  }
  #app {
    display: grid;
    padding: 0 0;
    font-size:0.3em;
  }
}

//浏览器滚动条样式
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(73, 177, 245, 0.2);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: #49b1f5;
  background-image: -webkit-linear-gradient(
                  45deg,
                  rgba(255, 255, 255, 0.4) 25%,
                  transparent 25%,
                  transparent 50%,
                  rgba(255, 255, 255, 0.4) 50%,
                  rgba(255, 255, 255, 0.4) 75%,
                  transparent 75%,
                  transparent
  );
  border-radius: 2em;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-moz-selection {
  color: #fff;
  background-color: #49b1f5;
}
