.footer-main{
  width: 100%;
}
.footer-buttom{
  text-align: center;
  font-size: 12px;
  line-height: 10px;
}
.footer-buttom .img img{
  width: 15px;
  vertical-align: text-top;
}
.footer-center-center li{
  text-align: left;
  list-style-type: none;
  line-height: 12px;
}
.footer-center-center{
  line-height: 0;
  text-align: center;
}
.footer-center-right li{
  text-align: left;
  list-style-type: none;
  line-height: 12px;
}
.footer-center-right{
  line-height: 0;
  text-align: center;
}
